:root {
    --beige: #F7F1DE;
    --green: #B0BA99;
    --cinnamon: #9D6638;
    --brown: #4E220F;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Philosopher';
    color: var(--brown);
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--brown);
}

main {
    background-color: var(--beige);
    height: 100vh;
}

#modal-backdrop {
    display: none;
}

header * {
    margin: 0px;
    padding: 2%;
    color: var(--beige);
}

h2 {
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
}

#navbar {
    margin: 10px 0px;
    font-size: larger;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-auto-flow: column;
    grid-gap: 5px;
}

#navbar a {
    color: var(--beige);
}

#add-recipe-btn{
    font-family: 'Philosopher';
    border-radius: 10px;
    background-color: var(--beige);
    color: var(--brown);
    font-size: larger;
    border: none;
    cursor: pointer;
}

.nav-title {
    color: var(--brown);
}

h2 {
    padding: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 10px auto;
  border-collapse: collapse;
  
}

thead {
    background-color: var(--green);
    border: 1px solid var(--cinnamon);
}

th,
td {
  padding: 5px;
  border: 1px solid var(--cinnamon);
}

#modal-backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.705);
  
}

#add-recipe-modal {
  display: flex;
  flex-direction: column;
  background-color: var(--beige);
  width: 80%;
  margin: 10px auto;
  padding: 30px;
  align-items: center;
}

#add-recipe-modal * {
  padding: 10px;
  font-size: larger;
}

#modal-input {
    width: 90vw;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 2fr;
  gap: 10px;
}

#modal-input input, select {
    width: 80%;
    font-family: 'Philosopher';
}

#modal-header {
  display: grid;
  width: 100%;
  grid-template: 1fr 2fr / 10fr 1fr;
}

option {
    font-size: small;
    width: 50%;
}

#close-modal {
  background-color: var(--beige);
  border: none;
  grid-area: 1 / 2 / 2 / 3;
  font-size: x-large;
}

#modal-heading {
  grid-area: 2 / 1 / 3 / 2;
  font-size: xx-large;
  padding-left: 5%;
  justify-self: center;
}

#submit-modal {
  background-color: var(--green);
  margin: 20px;
  border: var(--brown) 1px solid;
  border-radius: 10px;
  font-family: 'Philosopher';
}

@media (max-width: 768px) {

}
